# Systemd Unit file for hombli-shelly service
# 
# Make sure to update your Working Directory
# one way to achieve this: with an override: 
# run `systemctl edit hombli-shelly` 
# in the editor, add the following (the 
# [Service] section is important!)
# 
# [Service]
# WorkingDirectory=<your working dir>

[Unit]
Description=Hombli Shelly Service

[Service]
WorkingDirectory=/opt/hombli-shelly

ExecStart=yarn node bin/hombli-shelly
Restart=always
User=root
# Load Crendentials securely from "hombli-shelly"
# This requires an up-to-date systemd with systemd-creds,
# see https://systemd.io/CREDENTIALS/ 
# The credentials file you generate must be created 
# with the same name used here, i.e. `hombli-shelly`
# systemd-creds encrypt infile hombli-shelly
LoadCredentialEncrypted=hombli-shelly
Environment=PATH=/usr/bin:/usr/local/bin
Environment=DOTENV_CONFIG_PATH=%d/hombli-shelly

[Install]
WantedBy=multi-user.target